{% extends 'base.html.twig' %}

{% block title %}Modifier Roles{% endblock %}

{% block body %}

    <h1 class="text-center mt-4">Modifier Membre</h1>
<div class="container text-center d-flex justify-content-center bg-dark col-1 rounded-2 text-light my-3">
      {{form_start(form, {
        attr: {
        novalidate: 'novalidate'
        }
        })}}
        {{ form_row(form.Roles) }}

<button type="submit" class="btn btn-light mb-3">modifier</button>
</div>
{{form_end(form)}}

    
{% endblock %}